# =================================================================
# CẤU HÌNH BIẾN MÔI TRƯỜNG BẢO MẬT CHO DOCKER COMPOSE (APP CASA)
# =================================================================

# 1. Cấu hình cơ sở dữ liệu MySQL
MYSQL_ROOT_PASSWORD=your_mysql_password
MYSQL_DATABASE=appcasa

# 2. Cấu hình cơ sở dữ liệu MongoDB
MONGO_ROOT_USERNAME=your_mongo_user
MONGO_ROOT_PASSWORD=your_mongo_password
MONGO_DATABASE=chat-db

# 3. Cấu hình lưu trữ MinIO (Object Storage)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
