# EXPO_PUBLIC_GATEWAY_URL=http://localhost:8080

# social-core-service (Spring Boot) – qua Nginx prefix /api
EXPO_PUBLIC_API_URL=http://localhost:8080/api/v1

# communication-service (NestJS) – qua Nginx prefix /chat
EXPO_PUBLIC_NODE_API_URL=http://localhost:8080/chat

# Socket.io – qua Nginx prefix /socket.io (Nginx tự upgrade WebSocket)
EXPO_PUBLIC_NODE_SOCKET_URL=http://localhost:8080
