MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=casa
TIME_EXPIRE=86400
MONGO_URI=mongodb://your_mongo_user:your_mongo_password@localhost:27017/chat-db?authSource=admin
